<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Сеть -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Разрешение автозагрузки -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoView"
        tools:targetApi="31">
        <!-- Главное явление -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CryptoView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Модуль сервиса -->
        <service
            android:name=".CryptoViewService"
            android:exported="true">
            <intent-filter>
                <action android:name="cryptoViewService.intent.action.bindCryptoViewService" />
            </intent-filter>
        </service>

        <!-- Явление конфигурирования виджета -->
        <activity
            android:name=".CryptoViewWidgetConfigureActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Широковещательный приёмник сообщений в виджет компоненту -->
        <receiver
            android:name=".CryptoViewWidget"
            android:exported="true"
            android:icon="@drawable/crypto_view_widget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cryptoview_widget_provider"></meta-data>
        </receiver>

        <!-- А это широковещательный приёмник сообщений. Нужен для отработки сообщения о загрузке истемы -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>